.container {
    :global {
        white-space: pre-wrap;

        .highlight-overlay {
            pointer-events: none;
        }
        .highlight-overlay > * {
            background-color: hsla(335, 100%, 35%, 0.32);
            position: absolute;
        }
    }
}
