.container {
    :global {
        display: flex;
        flex-flow: column;
        height: 100%;
        position: relative;
        white-space: pre-wrap;

        .text-container {
            border: dashed;
            border-color: hsla(0, 0, 100%, 0);
            max-height: 80vh;
            overflow: auto;
            padding: 24px 48px;
            position: relative;
        }

        .highlight-overlay {
            pointer-events: none;
        }
        .highlight-overlay > * {
            position: absolute;

            &.focus {
                background-color: hsla(335, 100%, 35%, 0.4);
            }
            &.hover {
                background-color: hsla(335, 100%, 35%, 0.24);
            }
        }

        .actions {
            display: flex;
            justify-content: flex-end;
            margin-top: 8px;
            margin-right: 6px;
            visibility: hidden;

            button {
                color: white;
                padding: 6px 18px;
                text-align: center;
            }
        }

        // Scrollbar should overlap with citation indicators
        .scroll-container {
            display: grid;
            grid-template-columns: 1fr 0;
        }
        ::-webkit-scrollbar {
            width: 12px;
        }
        ::-webkit-scrollbar-thumb {
            background-color: hsla(210, 13%, 100%, 20%);
        }
        .scroll-marker-container {
            height: calc(80vh - 24px);
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 24px;
            width: 12px;
        }
        .scroll-marker-container > * {
            width: 12.5px;
            right: 1px;
            top: 50%;
            position: absolute;

            &.focus {
                background-color: hsl(0, 0%, 70%);
            }
            &.hover {
                background-color: hsl(0, 0%, 40%);
            }
        }
    }
}

.focused {
    :global {
        .text-container {
            border-color: hsla(0, 0, 100%, 0.5);
        }

        .actions {
            visibility: visible;
        }
    }
}
