.label {
    :global {
        text-align: left;

        // Layout
        .general {
            display: flex;
            flex-flow: column;
            gap: 12px;
            margin-bottom: 16px;
        }

        // Citations layout
        .citations {
            border-top: 1px solid hsl(0, 0%, 19%);
            display: flex;
            flex-flow: column;
            margin-top: 8px;
            padding-top: 12px;
            text-align: left;

            .citations__inputs {
                display: grid;
                gap: 8px;
                grid-template-columns: 1fr 1fr;
            }
        }

        .field-label {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        input {
            background-color: #141414;
            color: hsla(0, 0%, 100%, 0.85);
            height: 30px;
            box-sizing: border-box;
            padding: 4px 14px;
            width: 0;
            min-width: 30px;
            flex-grow: 1;
            border: 0;
            margin: 0;
            outline: 0;

            &::placeholder {
                color: hsla(0, 0%, 100%, 0.35);
            }
        }

        .boxed-field-label {
            align-items: center;
            background-color: hsl(0, 0%, 12%);
            border-right: 1px solid hsl(0, 0%, 19%);
            color: hsla(0, 0%, 100%, 0.65);
            display: flex;
            font-size: 0.75rem;
            justify-content: center;
            padding: 0px 8px;
            width: 100px;
        }

        .boxed-input-container {
            align-items: stretch;
            border: 1px solid #434343;
            border-radius: 4px;
            display: flex;
            flex-flow: row;
            overflow: hidden;
        }

        .boxed-input-container.category {
            background-color: #141414;
            display: grid;
            grid-template-columns: max-content 1fr;

            .MuiSelect-select {
                color: hsla(0, 0%, 100%, 0.85);
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .MuiInputBase-root {
                border-radius: 0;
            }
            fieldset {
                margin-top: 5px;
            }
            legend {
                display: none;
            }
            :not(.Mui-focused) .MuiOutlinedInput-notchedOutline {
                border-color: transparent;
            }
        }
    }
}
