.label {
    :global {
        text-align: left;

        // Layout
        .general {
            display: flex;
            flex-flow: column;
            gap: 12px;
            margin-bottom: 16px;
        }

        // Citations layout
        .citations-container {
            border-top: 1px solid hsl(0, 0%, 19%);
            margin-top: 8px;
            padding-top: 12px;
            text-align: left;

            .citations__inputs {
                align-items: center;
                display: grid;
                gap: 8px;
                grid-template-columns: 1fr 1fr 24px;
            }
        }
        .citations {
            display: flex;
            flex-flow: column;
            gap: 12px;
        }

        .field-label {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        input {
            background-color: #141414;
            color: hsla(0, 0%, 100%, 0.85);
            height: 30px;
            box-sizing: border-box;
            padding: 4px 14px;
            width: 0;
            min-width: 30px;
            flex-grow: 1;
            border: 0;
            margin: 0;
            outline: 0;

            &::placeholder {
                color: hsla(0, 0%, 100%, 0.35);
            }
        }

        .boxed-field-label {
            align-items: center;
            background-color: hsl(0, 0%, 12%);
            border-right: 1px solid hsl(0, 0%, 19%);
            color: hsla(0, 0%, 100%, 0.65);
            display: flex;
            font-size: 0.75rem;
            justify-content: center;
            padding: 0px 8px;
            width: 100px;
        }

        .boxed-input-container {
            align-items: stretch;
            border: 1px solid #434343;
            border-radius: 4px;
            display: flex;
            flex-flow: row;
            overflow: hidden;

            // Highlight on hover / focus
            &.focused,
            &:focus-within,
            &:hover {
                border-color: #177ddc;
                box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
            }
        }

        .boxed-input-container.category {
            background-color: #141414;
            display: grid;
            grid-template-columns: max-content 1fr;

            .MuiSelect-select {
                color: hsla(0, 0%, 100%, 0.85);
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .MuiInputBase-root {
                border-radius: 0;
            }
            fieldset {
                margin-top: 5px;
            }
            legend {
                display: none;
            }
            .MuiOutlinedInput-notchedOutline {
                border-color: transparent;
            }
        }

        .add-citation-container {
            button {
                border-style: dashed;
                border-color: hsla(0, 0%, 100%, 0.5);
                color: hsla(0, 0%, 100%, 0.5);
                margin-top: 12px;
                padding: 6px 0px;
                width: 100%;

                .icon {
                    font-size: 1.25rem;
                    line-height: 1;
                    margin-right: 0.25rem;
                }
            }
        }

        // Clickable things should look clickable
        .delete {
            cursor: pointer;
        }
        .delete.disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
}
