.container {
    :global {
        // Content should be centered
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 1fr;
        height: 100%;
        text-align: center;
    }
}
